body {
  background-color: #303050;
  border: 1px solid red;
  width: 50%;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
}

p:nth-child(1){
  background-color: #505070;
  border: 2px solid green;
  display:inline-block;
  vertical-align: top;
  width: 200px;
}

p:nth-child(2){
  background-color: #505070;
  border: 2px solid green;
  display:inline-block;
  vertical-align: top;
  width: 200px;
}
